* {
  margin:0;
  padding:0;
  font-family: 'Open Sans', sans-serif;
  color:#FFF;
}

.payment-errors {
  font-family: 'Open Sans', sans-serif;
  font-size:10px;
}

body {
  background:url("http://www.longren.org/pay/wild_oliva.png");
}
span.sep {
  color:#FFF;
}
.wrapper {
  text-align:center;
  margin:50px auto;
}

h1 {
  color:#fff;
  text-shadow:1px 1px 0px rgba(0, 0, 0, 0.3);
  margin-bottom:20px;  
}
h1 a {
  text-decoration: none;
}

section {
  background:rgba(0, 0, 0, 0.4);
  margin:0 auto;
  width:300px;
  padding:20px;
  text-align:center;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
   -webkit-box-shadow:0px 1px 0px rgba(225, 225, 225, 0.18);
      -moz-box-shadow:0px 1px 0px rgba(225, 225, 225, 0.18);
          box-shadow:0px 1px 0px rgba(225, 225, 225, 0.18);
}
.form-row label {
  color:#FFF;
}
.main-form {
  display:block;
  width:280px;
  margin-bottom:15px;
  padding:10px;
  outline:none;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  border:none;
  background:rgba(225, 225, 225, 0.1);
  font:0.9em 'Open Sans', sans-serif;
  color:#fff;
  transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}

.main-form:focus {
  background:#eee;
  transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  color:#000;
}

button {
  border:none;
  background: #eeeeee;
  background: -moz-linear-gradient(top,  #eeeeee 0%, #888888 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#888888));
  background: -webkit-linear-gradient(top,  #eeeeee 0%,#888888 100%);
  background: -o-linear-gradient(top,  #eeeeee 0%,#888888 100%);
  background: -ms-linear-gradient(top,  #eeeeee 0%,#888888 100%);
  background: linear-gradient(to bottom,  #eeeeee 0%,#888888 100%);
  padding:17px;
  box-shadow:0px 1px 0px rgba(225, 225, 225,
    0.2), 0px 1px 0px rgba(0, 0, 0, 0.4) inset;
  outline:none;
  width:100%;
  text-transform:uppercase;
  color:black;
  letter-spacing:2px;
  text-shadow:1px 1px 0px rgba(0, 0, 0, 0.6);
  cursor:pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-top:5px;
  font-family:'Open Sans', sans-serif;
}

button:active {
  box-shadow:inset 0px 2px 1px rgba(0, 0, 0, 0.3);
}

footer {
  padding-top:20px;
  text-align:right;
  width:330px;
  margin:0 auto;
}

h6 {
  display:inline-block;
  position:relative;
  bottom:4px;
  left:6px;
  color:#fff;
  font-weight:300;
  text-shadow:1px 1px 0px rgba(0, 0, 0 ,0.6);
}

.ribbon {
  width: 400px;
  height: 60px;
  margin: 20px auto;
  position: relative;
  color: #fff;
  font: 28px/60px sans-serif;
  text-align: center;
  text-transform: uppercase;
  background: #3D79D0;
  
  -webkit-animation: main 250ms;
  -moz-animation: main 250ms;
  -ms-animation: main 250ms;
  animation: main 250ms;
}

.ribbon i {
  position: absolute;
}

.ribbon i:first-child, .ribbon i:nth-child(2) {
  position: absolute;
  left: -20px;
  bottom: -20px;
  z-index: -1;
  border: 20px solid transparent;
  border-right-color: #043140;
  
  -webkit-animation: edge 500ms;
  -moz-animation: edge 500ms;
  -ms-animation: edge 500ms;
  animation: edge 500ms;
}

.ribbon i:nth-child(2) {
  left: auto;
  right: -20px;
  border-right-color: transparent;
  border-left-color: #043140;
}

.ribbon i:nth-child(3), .ribbon i:last-child {
  width: 20px;
  bottom: -20px;
  left: -60px;
  z-index: -2;
  border: 30px solid #1D53C0;
  border-left-color: transparent;
  
  -webkit-animation: back 600ms;
  -moz-animation: back 600ms;
  -ms-animation: back 600ms;
  animation: back 600ms;
  
  -webkit-transform-origin: 100% 0;
  -moz-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
}

.ribbon i:last-child {
  bottom: -20px;
  left: auto;
  right: -60px;
  border: 30px solid #1D53C0;
  border-right-color: transparent;

  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
}
